.opener {
  padding:11px;
  margin:10px;
  flex-direction: row;
  flex-wrap: nowrap;
  display:flex;
  text-decoration: none;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 33px;
  bottom: 10px;
  z-index: 100;
  max-width: 232.44px;


  border-radius: 3px;
  color: rgb(235, 87, 87);
  font-size: 14px;
  background: #F8EFEF;
  
  font-weight: 500;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px, rgba(235, 87, 87, 0.3) 0px 0px 0px 1px inset;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opener:hover {
    background: #F7E5E5;
    cursor: pointer;
}

.insidebtn {
    margin-top:7px;
    margin-right: 7px;
    margin-left:7px;
}





